<footer class="footer">
  <span>© {{ dateFormat "2006" now }} nearbyevcharging</span>
  <a href="https://docs.nearbyevcharging.com/blog">Blog</a>
  <a href="https://github.com/nearbyev-charging/nearbyevcharging"><shopicon-regular-github class="icon"></shopicon-regular-github>GitHub</a>
  <a href="https://twitter.com/nearbyevcharging_io"><shopicon-regular-twitter class="icon"></shopicon-regular-twitter>Twitter</a>
  <a href="https://www.instagram.com/nearbyevcharging.com/"><shopicon-regular-instagram class="icon"></shopicon-regular-instagram>Instagram</a>
  <a href="/slack"><shopicon-regular-chat class="icon"></shopicon-regular-chat>Entwickler Slack</a>
  <a href="https://docs.nearbyevcharging.com">Dokumentation</a>
  <a href="/impressum/">Impressum</a>
  <a href="/datenschutz/">Datenschutz</a>
</footer>
