<header class="header">
  <div class="header__top">
    <div class="header__inner">

        <span>nearbyevcharging.com</span>
      </a>
      <nav class="header__navigation">
        <a href="https://docs.nearbyevcharging.com/blog" class="header__navigation__item">Blog</a>
        <a href="https://docs.nearbyevcharging.com" class="header__navigation__item hide-lg">Doku</a>
        <a href="https://docs.nearbyevcharging.com" class="header__navigation__item hide-sm">Dokumentation</a>
        <a href="https://github.com/nearbyevcharging-io/nearbyevcharging" class="header__navigation__item">GitHub</a>
      </nav>
      <div class="header__button hide-sm">
        <a
          class="github-button"
          href="https://github.com/nearbyevcharging-io/nearbyevcharging"
          data-size="large"
          data-show-count="true"
          aria-label="Star nearbyevcharging-io/nearbyevcharging on GitHub"
          >Star</a
        >
      </div>
    </div>
  </div>
  <div class="header__hero__wrapper">
    <img
      class="header__hero"
      width="1440"
      height="354"
      src="/img/nearbyevcharging-hero.svg"
      alt="Elektroauto lädt Solarstrom an einer Wallbox. Person verwendet nearbyevcharging auf dem Smartphone."
      draggable="false"
    />
  </div>
</header>
